# Ignore node_modules
frontend/node_modules/

# Ignore build directories
frontend/dist/
frontend/build/
frontend/out/

# Ignore environment files
frontend/.env
frontend/.env.local
frontend/.env.*.local

# Ignore logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Ignore cache directories
frontend/.cache/
frontend/.turbo/
frontend/.vite/
frontend/.parcel-cache/
frontend/.next/
frontend/.nuxt/
frontend/.svelte-kit/

# Ignore editor and IDE settings
frontend/.vscode/
frontend/.idea/
frontend/.DS_Store
frontend/.eslintcache
frontend/.prettiercache

# Ignore coverage files
frontend/coverage/

# Ignore misc
frontend/.husky/_/
frontend/.stylelintrc
frontend/.sass-cache/
.vercel
