.customNavigatorTheme .navigator-header {
  background-color: #123456;
  color: #ffffff;
}

.customNavigatorTheme .navigator-cell {
  background-color: #f4f4f4;
  border: 1px solid #cccccc;
}

.customNavigatorTheme .navigator-cell-selected {
  background-color: #00aaff;
  color: #ffffff;
}

.rbc-btn-group {
  font-size: 12px;
}

.rbc-timeslot-group {
  font-size: 12px;
}

.rbc-timeslot-group {
  min-height: 80px !important;
}

div.rbc-header > button > span {
  font-weight: 600;
}

.rbc-toolbar-label {
  font-size: 12px !important;
}